.deviceListLI{
    display: flex;
    width: 100%;
    align-items: center;
}
.deviceCard{
    display: flex;
    /* flex-wrap:wrap; */
    justify-content: space-evenly;
    width: calc(100% - 3rem);
    background: linear-gradient(45deg, lightyellow, whitesmoke, lightyellow);
    border: 1px solid whitesmoke;
    box-shadow: 0 0 .3rem grey;
    border-radius: .5rem;
    margin: .3rem  .2rem;
}
.deviceCardColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    max-width: 100%;
    min-width: 10rem;
}
.justifyCenter{
    justify-content: center;
}
.deviceData{
    width: 100%;
    font-size: 70%;
    text-align: left;
}
.wrap{
    flex-wrap: wrap;
}
.iconFrame{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
    height: 3.5rem;
    margin: .2rem;
    border-radius: .2rem;
    padding-bottom: .2rem;
    box-shadow: 0 0 .2rem grey;
}
.iconTitle{
    font-weight: bold;
    text-align: center;
    width: 4.5rem;
}
.iconValue{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 4rem;
    height: 2rem;
}
.inner{
    background: rgba(255, 255, 255, .5);
}
.planListCheck{
    width: 1.5rem;
    height: 1.5rem;
    margin: .5rem
}
.deviceItems{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    min-width: 17rem
}
.midDropDown{
    width: 8rem;
}
.sideMonthPicker{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .2rem .5rem;
}
.planComments{
    width: 100%;
    height: 5rem;
    max-width: 100%;
    margin: .5rem 0
}
.devicePlanComments{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: .5rem;
}
.saveButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: fit-content;
    margin:0;
    font-size: 100%;
    font-weight: bold;
}
.saveButton:hover{
    transform: scaleY(1.05);
    box-shadow: 0 0 .3rem red;
}
.saveButton:active{
    box-shadow: none;
    border: 2px inset grey
}

@media(max-width: 900px){
    .deviceCard{
        flex-direction: column;
    }
    .saveArea{
        height: fit-content;
        width: 100%;
    }
    .deviceItems, .deviceCard{
        flex-wrap: wrap;
    }
    .iconFrame{
        transform: scale(.9);
        margin: -.2rem
    }
    .devicePlanComments{
        width: 100%;
    }
    .saveButton{
        width: 100%;
    }    
}