.detailBackground{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.detailSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: .25rem
}
.waiting{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/icons/waiting.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10%;
    width: 80vw;
    max-width: 20rem;
    height: 80vw;
    max-height: 20rem;
    color: whitesmoke;
    text-shadow: 0 0 .5rem black;
    font-weight: bolder;
    font-size: 5vw;
}
.detailCreation{
    width: 30rem;
}
.detailStatus{
    width: 30rem;
}
.detailCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, silver, whitesmoke, silver);
    border-radius: .5rem;
    width: 18rem;
    padding: 0 .5rem;
    margin: .1rem
}
.detailDescription{
    width: 30rem;
    padding: .5rem;
}
.detailLongText{
    height: 10rem;
    width: 100%;
    background: whitesmoke;
    text-indent: 1rem;
    border-radius: .25rem;
    box-shadow: 0 0 .2rem grey;
}
.detailRow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: .1rem
}
.itemName{
    width: 7rem;
    text-align: center;
    font-weight: bold;
    background: grey;
    color: whitesmoke;
    border-radius: .5rem
}
.itemValue{
    width: 15rem;
    text-align: center;
    font-weight: bold;
    background: whitesmoke;
    color: grey;
    border-radius: .5rem
}
.interventionLi{
    display: flex;
    width: calc(100% - 1rem);
    font-size: 1rem;
    background-color: whitesmoke;
    border-radius: .5rem;
    border: 2px dotted black
}
.interventionHeaders{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.headerDate{
    margin: 0 .5rem;
    width: 15rem;
}
.headerWorkers{
    display: flex;
    font-weight: bold;
    width: 100%;
}
.headerWorker{
    margin: 0 .5rem;
}
.interventionDescription{
    width: 100%;
}
.interventionLongText{
    display: flex;
    width: 100%;
    height: calc(100% - 1.5rem);
    text-indent: 1rem;
}
.interventionGas{
    display: flex;
    margin: 0 .5rem
}
@media(max-width:900px){
    .interventionLi{
        flex-direction: column;
    }
    .detailSection{
        font-size: .9rem;
    }
    .detailRow{
        margin: .2rem 0
    }
}