.adminBackground{
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.adminOptionSelected{
    width: calc(100% - 11rem);
    height: 100%;
    overflow-y: auto;
}
@media(max-width:900px){
    .adminBackground{
        flex-direction: column;
    }
    .adminOptionSelected{
        width: 100%;
        height: calc(100% - 4rem);
    }
}