.navBarBackground{
    display: flex;
    align-items: center;
    background-color: darkred;
    padding: .2rem;
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100vw;
}
.navBarLogo{
    width: 13rem;
    background-color: whitesmoke;
    padding: .2rem;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navBarLogo:active{
    transform: scale(.95);
}
.navBarButton{
    border: 1px solid grey;
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
    padding: 2px 5px;
    margin-left: 10px;
    background-color: rgb(173, 0, 0);
    cursor:pointer;
    text-decoration: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navBarButton:hover{
    background-color: red;
    color: white
}
.navBarButton:active{
    transform: scale(.95);
}
.activeNavLink{
    background-color: red;
    color: white
}
.navCrudButtons{
    display: flex;
    justify-content: space-evenly;
    margin-top: .5rem;
}
.crud{
    padding: 0 .1rem;
    width: 20%;
    text-align: center;
    font-size: .9rem;
}
@media(max-width:900px){
    .navBarBackground{
        justify-content: center;
        font-size: .8rem;
    }
    .crud{
        font-size: .7rem;
    }
}