.navBarBackground{
    display: flex;
    align-items: center;
    background-color: darkred;
    padding: .2rem;
    color:white;
    text-decoration: none;
    font-size: 1.2rem;
    /* flex-wrap: wrap; */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100vw;
}
.navBarOptionsModal{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}
.navBarOptions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkred;
}
.navBarMenu{
    border-radius: .5rem;
    display: none
}
.navBarLogo{
    width: 13rem;
    background-color: whitesmoke;
    padding: .2rem;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navBarLogo:active{
    transform: scale(.95);
}
.navBarButton{
    border: 1px solid grey;
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
    padding: 2px 5px;
    margin-left: 10px;
    background-color: rgb(173, 0, 0);
    cursor:pointer;
    text-decoration: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navBarButton:hover{
    background-color: red;
    color: white
}
.navBarButton:active{
    transform: scale(.95);
}
.activeNavLink{
    background-color: red;
    color: white
}
.crud{
    padding: 0 .1rem;
    width: 20%;
    text-align: center;
    font-size: .9rem;
}
.navBarAdmin{
    background-color: navy;
}
.navBarAdmin:hover, .activeAdminLink{
    background-color: blue;
}
.logOutButton{
    background: linear-gradient(45deg, black, grey, black);
}
@media(max-width:900px){
    .navBarLogo{
        height: 2rem;
    }
    .navBarBackground{
        /* flex-direction: column; */
        justify-content: space-between;
        font-size: .8rem;
    }
    .navBarMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        font-size: 110%;
    }
    .navBarOptionsModal{
        display: flex;
        justify-content: end;
        position: absolute;
        margin-top: 3rem;
        top:0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .navBarOptions{
        flex-direction: column;
        height: 50%;
        width: 50%;
        box-shadow: -.2rem .2rem .5rem black;
    }
    .navBarOptions>div{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .navBarButton{
        margin: .2rem;
    }

    .crud{
        font-size: .7rem;
    }
}