.navBarLogo{
    width: 13rem;
    background-color: whitesmoke;
    padding: .2rem;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navBarLink,.navAdminLink{
    color: inherit;
    min-width: fit-content;
}
.navBarLinkContainer{
    display: flex;
}
.menuIcon{
    box-shadow: 0 0 .2rem black
}


.navBarLink:hover, .activeNavLink {
    background-color: red;
    color: white
}
.navAdminLink:hover, .activeAdminLink{
    background-color: blue;
    color: white
}
.navBarLink:hover,.navBarAdmin:hover{
    border: 1px solid white
}