.programCard{
    display: flex;
    width: 15rem;
    height: 10rem;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: 0 0 .2rem grey;
    text-align: center;
    margin: .5rem
}
.miniText{
    font-size: .8rem;
}