.accessesContainer{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-around;
}
.AccessButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
    width: 20vw;
    min-width: 8em;
    border-radius: 2em;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;

    outline: none;
}
.AccessButton:active{
    transform: scale(0.90);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.selectedOption{
    background-color: grey;
    background-size: 100%;
    border: 2px solid balck
}